/*============ GLOBAL STYLES ===============*/
:root {
    --midnight: #172030;
    --fademidnight: #172030b3;
    --goldenrod: #A87E13;
    --palepurple: #ECE6F0;
    --lilac: #836ca5;
    --orange: #D98E04;
    --palepink: #F7ECF7;
    --periwinkle: #ACC6FF;
    --antique: #FFF5DE;
}

#root {
    font-family: 'sen';
    font-size: 16px;
    color: var(--fademidnight);
    background: whitesmoke;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

#logo {
    width: 50px;
    height: 50px;
}

h1, h2, h3 {
    font-weight: lighter;
}

h1, h2 {
    font-family: 'playfair display';
}

/*=============== NAV STYLES ===============*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 20px;
    background-color: var(--palepurple);
}

nav h3 {
    color: var(--goldenrod);
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 25%;
    transition: .3s;
}

.nav-links a {
    color: var(--lilac);
}

.nav-links a:hover {
    color: var(--periwinkle);
}

li {
    margin: 5px;
}

/*============ HERO AREA STYLES ================*/

#heroarea-container {
    /* background: url('https://images.unsplash.com/photo-1620550580806-9426033a77a3?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI1fHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
    background-image: linear-gradient(var(--palepurple), var(--palepink), whitesmoke);
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

#heroarea-container h1 {
    margin: 0px;
    font-family: 'playfair display';
    color: var(--midnight);
    font-weight: normal;
    font-size: 5em;
    letter-spacing: .1em;
    width: 100%;
    text-align: center;
}

#heroarea-container p {
    color: var(--lilac);
    animation: fadeIn;
    animation-duration: 2s;
}

/*=============== HOME STYLES ==================*/

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    margin-top: 40px;
    /* height: 100vh; */
}

#home-container h1 {
    font-size: 1.8em;
    margin-top: 40px;
}

#sel-tag {
    min-width: 100px;
    transition: .5s;
    border-radius: 10px;
}

#sel-tag:hover {
    background: var(--palepink);
}

option {
    cursor: pointer;
    padding: 10px;
    transition: .5s;
}

option:hover {
    background: var(--palepink);
    color: var(--periwinkle);
}

#user-search {
    text-align: center;
    margin-bottom: 50px;
}

/*=== Card Styles (w/i Home Component) ===*/
/* The div that contains the card, and the Edit form: */
.card-each {
    background: whitesmoke;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    display: flex;
    width: 90%;
    max-width: 580px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--goldenrod);
    border-radius: 5px;
    background: #acc6ff33;
}

.card p {
    min-width: 150px;
    max-width: 300px;
    margin-left: 10px;
}

.card img {
    width: 40vmin;
    height: 40vmin;
    min-width: 180px;
    min-height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

#edit-opts {
    width: 50%;
    text-align: center;
}

/*============ CREATE CARD STYLES ==============*/

#create-container {
    background: whitesmoke;
}
